<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.demo_image_scroll"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SelectActivity">
        </activity>
        <activity android:name=".Activity_self2"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".SearchModelNumActivity">
        </activity>
        <activity
            android:name=".ImageShowerActivity"
            android:theme="@style/ImageScale">
        </activity>

        <service android:name=".FloatService"/>

        <activity android:name=".UploadPhotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChooseInsuranceActivity">
        </activity>
        <activity android:name=".ChooseCompanyActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaojiaActivity">
        </activity>
        <activity android:name=".HebaoActivity">
        </activity>
    </application>

</manifest>